
<template>
  <div class="main">
    <div>
      <div class="card">
        <h5>Login</h5>
        <b-form-group
          id="input-group-1"
          label="Mobile Number:"
          label-for="input-1"
          description=""
        >
          <b-form-input
            id="input-1"
            v-model="number"
            type="tel"
            placeholder="Enter Number"
            required
          ></b-form-input>
          

          <b-form-input
            v-if="isOtp"
            id="input-1"
            class="mt-3"
            v-model="otp"
            type="tel"
            placeholder="Enter Otp"
            required
            @keyup="validateOtp"
          ></b-form-input>
        </b-form-group>

        <b-button class="mt-5" @click="recaptcha" variant="primary"
          >Get OTP</b-button
        >
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import MainService from "@/services/main-service.js";

export default {
  name: "Login",
  data() {
    return {
      number: null,
      isOtp: false,
      otp: null,
    };
  },
  methods: {

    async recaptcha() {
      // (optional) Wait until recaptcha has been loaded.
      await this.$recaptchaLoaded()

      // Execute reCAPTCHA with action "login".
      const token = await this.$recaptcha('login')
      this.getOtp(token)

      // Do stuff with the received token.
    },
    // Method to send the otp
    async getOtp(token) {
      var form = new FormData();
      form.append("Captcha", token);
      form.append("phone", this.number);
      let res = await MainService.getOtp(form);
      
      if (res.data.success == true) {
        alert("otp sent");
        this.isOtp = true;
      }
    },
    // Method to set the cookie for an hour
    setCookie (cookie,value) {
      var now = new Date();
      var time = now.getTime();
      time += 3600 * 1000;
      now.setTime(time);
      document.cookie = `${cookie}=`
       + value + 
      '; expires=' + now.toUTCString() 

    },
    // Method to validate the otp
    async validateOtp() {
      if (this.otp.length === 4 ) {
        var form = new FormData();
        form.append("phone", this.number);
        form.append("store", 1);
        form.append("otp", this.otp);
        let res = await MainService.validateOtp(form);
        
        if (res.data.success === true) {
          alert('validated')
          
          this.$router.push('/dashboard')
        }
      }
    },
  },
};
</script>
<style scoped>
.main {
  background: #9ab7ff;
  height: 100vh;
}
.card {
  background: white;
  margin: 25px;
  padding: 20px;
  /* display: flex; */
  margin-top: 100px;
  width: 30%;
  float: right;
}
</style>
