<template>
  <div>dashboard</div>
</template>
<script>
import MainService from "@/services/main-service.js";

export default {
  methods: {
    //  Method to get user detail
    async getAccountDetail() {
      var form = new FormData();
      form.append("customer_id", "6LeNlrgZAAAAANQxb1CO2DS_HCA_3NwjLLQpjCJ0");
      form.append("customer_session", "6LeNlrgZAAAAANQxb1CO2DS_HCA_3NwjLLQpjCJ0");
      form.append("store", 1);
      let res = await MainService.accountDetail(form);
     
      if (res.data.success == true) {
        
      }
    },
    mounted () {
        console.log(document.cookie)
    
    }
  },
};
</script>
<style scoped>
</style>